<div id="containerError">
    <div class="error-container">
    
        <img class="error-image" src="/img/errorHomero.jpg" alt="Error de Ruteo">
        <div class="error-message">Error de Ruteo</div>
        <div class="error-description">Lo sentimos, la página que estás buscando no ha sido encontrada.</div>
        <canvas id="canvas"></canvas>
    </div>
    <button onclick="returnHome()" class="botonSpace" type="button">
        <strong>RETURN HOME</strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>

        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </button>
</div>

<script  src="/js/error.js"></script>