<h1>Cambio de Contraseña Exitoso</h1>
<p style="color: aliceblue;">Tu contraseña ha sido cambiada exitosamente.</p>
<p style="color: aliceblue;">¡Ahora puedes iniciar sesión con tu nueva contraseña!</p>

<a href="/login"><button>Iniciar Sesion</button></a>
