<div>
  <h1>Recuperar Contraseña</h1>
  <form method="POST">
    <input type="hidden" name="token" value="{{token}}">
    <label style="color: aliceblue;" for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <label style="color: aliceblue;" for="confirmPassword">Confirmar Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button style="color: aliceblue;" type="submit">Restablecer Contraseña</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const resetForm = document.getElementById('resetForm');

    resetForm.addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(resetForm);

      try {
        const response = await fetch('/recovery-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: new URLSearchParams(formData)
        });

        if (response.ok) {
          window.location.href = '/password-reset-success';
        } else {
          const errorMessage = await response.text();
          console.error(errorMessage);
        }
      } catch (error) {
        console.error('Error al enviar la solicitud de restablecimiento de contraseña:', error);
      }
    });
  });
</script>