<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Handlebars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
      body {
        background-color: #222222;
      }
      #divLogin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-top: 100px;
      }

      .container {
        max-width: 600px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 100px;
      }

      .cardRealTimeProducts{
        width: 440px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: rgb(223, 225, 235);
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

      }

      .text-success {
        color: #28a745;
      }

      .text-info {
        color: #17a2b8;
      }

      .text-warning {
        color: #ffc107;
      }

      h1, li {
        font-family: 'Montserrat', sans-serif;
      }
      
      #divChat {
        text-align: center;
        padding: 73px;
        background-color: #ffffff;
        border-radius: 132px;
        margin-top: 200px;
      }

      h1 {
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: red;
        margin-bottom: 20px;
      }


      button[type="submit"] {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }

      .product-item {
      background-color: #f2f2f2;
      padding: 10px;
      margin-bottom: 10px;
    }

    .product-name {
      color: #333;
      font-size: 20px;
      font-weight: bold;
    }

    .product-price {
      color: #666;
    }

    .product-category {
      color: #888;
    }

    .details-button {
      background-color: #4CAF50;
      color: red;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin-right: 10px;
      cursor: pointer;
    }

    .cart-button {
      background-color: #f44336;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
    }

    #h1Login{
      color: black;
      font-family:Georgia, 'Times New Roman', Times, serif;
      text-decoration: underline;
    }

    .headerDetails{
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    #botonEliminarProducts {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: red;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: #e62222;
      }

    #botonEliminarProducts, botonEliminarProducts span {
      transition: 200ms;
    }

    #botonEliminarProducts .text {
      transform: translateX(35px);
      color: white;
      font-weight: bold;
    }

    #botonEliminarProducts .icon {
      position: absolute;
      border-left: 1px solid #c41b1b;
      transform: translateX(110px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #botonEliminarProducts svg {
      width: 15px;
      fill: #eee;
    }

    #botonEliminarProducts:hover {
      background: #ff3636;
    }

    #botonEliminarProducts:hover .text {
      color: transparent;
    }

    #botonEliminarProducts:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
    }

    #botonEliminarProducts:focus {
      outline: none;
    }

    #botonEliminarProducts:active .icon svg {
      transform: scale(0.8);
    }

    strong {
      font-weight: bold;
    }

    .no-tickets {
      text-align: center;
      color: #666;
      font-size: 18px;
    }

    #divProductsCart{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    #bottonProductsCart{
      margin-right: 1000px;
    }

    .input-group {
      position: relative;
      margin-bottom: 10px;
    }

    .input-group__input{
      font: inherit;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      outline: 2px solid #fff;
      background-color: transparent;
      transition: outline-color 500ms;

    }

    .input-group__input:is(:focus, :valid) {
      outline-color: #3c50eb;
    }

    .input-group__label {
      position: absolute;
      top: 0;
      left: 0;
      translate: 10px 10px;
      color: #fff;
      transition: translate 500ms, scale 500ms;
    }

    .input-group__input:focus + 
    .input-group__label,
    .input-group__input:valid + 
    .input-group__label {
      padding-inline: 5px;
      translate: 10px -14px;
      scale: 0.8;
      background-color: transparent;
    }

    .card {
      width: 440px;
      height: 450px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: rgb(223, 225, 235);
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      gap: 15px;
      background-color: #181717;
      outline: 3px #181717 solid;
      outline-offset: -3px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 400ms;
    }

    .button .text {
      color: white;
      font-weight: 700;
      font-size: 1em;
      transition: 400ms;
    }

    .button svg path {
      transition: 400ms;
    }

    .button:hover {
      background-color: transparent;
    }

    .button:hover .text {
      color: #181717;
    }

    .button:hover svg path {
      fill: #181717;
    }
    

    {{!-- form register --}}

    .divCentrarForm{
      margin-top: 50px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .form-box {
      max-width: 300px;
      background: #f1f7fe;
      overflow: hidden;
      border-radius: 16px;
      color: #010101;
    }

    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 32px 24px 24px;
      gap: 16px;
      text-align: center;
    }

    /*Form text*/
    .title {
      font-weight: bold;
      font-size: 1.6rem;
    }

    .subtitle {
      font-size: 1rem;
      color: #666;
    }

    /*Inputs box*/
    .form-container {
      overflow: hidden;
      border-radius: 8px;
      background-color: #fff;
      margin: 1rem 0 .5rem;
      width: 100%;
    }

    .input {
      background: none;
      border: 0;
      outline: 0;
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #eee;
      font-size: .9rem;
      padding: 8px 15px;
    }

    .form-section {
      padding: 16px;
      font-size: .85rem;
      background-color: #e0ecfb;
      box-shadow: rgb(0 0 0 / 8%) 0 -1px;
    }

    .form-section a {
      font-weight: bold;
      color: #0066ff;
      transition: color .3s ease;
    }

    .form-section a:hover {
      color: #005ce6;
      text-decoration: underline;
    }

    /*Button*/
    .form button {
      background-color: #0066ff;
      color: #fff;
      border: 0;
      border-radius: 24px;
      padding: 10px 16px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: background-color .3s ease;
    }

    .form button:hover {
      background-color: #005ce6;
    }

    .buttonDelete {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(20, 20, 20);
      border: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      transition-duration: .3s;
      overflow: hidden;
      position: relative;
    }

    .svgIcon {
      width: 12px;
      transition-duration: .3s;
    }

    .svgIcon path {
      fill: white;
    }

    .buttonDelete:hover {
      width: 140px;
      border-radius: 50px;
      transition-duration: .3s;
      background-color: rgb(255, 69, 69);
      align-items: center;
    }

    .buttonDelete:hover .svgIcon {
      width: 50px;
      transition-duration: .3s;
      transform: translateY(60%);
    }

    .buttonDelete::before {
      position: absolute;
      top: -20px;
      content: "Delete";
      color: white;
      transition-duration: .3s;
      font-size: 2px;
    }

    .buttonDelete:hover::before {
      font-size: 13px;
      opacity: 1;
      transform: translateY(30px);
      transition-duration: .3s;
    }

    #divBotonesCart{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 50px;
    }

    /* ERROR HANDLEBARS*/
    #containerError{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 20px;
    }
        .error-container {
            margin: 20px auto;
            max-width: 500px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .error-image {
            width: 460px;
            height: 275px;
            margin: 0 auto 20px;
        }
        .error-message {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .error-description {
            font-size: 16px;
            color: #666;
        }

        #canvas{
          width: 469px; 
          height:300;
        }

        .botonSpace {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 13rem;
          height: 3rem;
          background-size: 300% 300%;
          backdrop-filter: blur(1rem);
          border-radius: 5rem;
          transition: 0.5s;
          animation: gradient_301 5s ease infinite;
          border: double 4px transparent;
          background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
          background-origin: border-box;
          background-clip: content-box, border-box;
        }

        #container-stars {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          overflow: hidden;
          transition: 0.5s;
          backdrop-filter: blur(1rem);
          border-radius: 5rem;
        }

        strong {
          z-index: 2;
          font-family: 'Avalors Personal Use';
          font-size: 12px;
          letter-spacing: 5px;
          color: #FFFFFF;
          text-shadow: 0 0 4px white;
        }

        #glow {
          position: absolute;
          display: flex;
          width: 12rem;
        }

        .circle {
          width: 100%;
          height: 30px;
          filter: blur(2rem);
          animation: pulse_3011 4s infinite;
          z-index: -1;
        }

        .circle:nth-of-type(1) {
          background: rgba(254, 83, 186, 0.636);
        }

        .circle:nth-of-type(2) {
          background: rgba(142, 81, 234, 0.704);
        }

        .botonSpace:hover #container-stars {
          z-index: 1;
          background-color: #212121;
        }

        .botonSpace:hover {
          transform: scale(1.1)
        }

        .botonSpace:active {
          border: double 4px #FE53BB;
          background-origin: border-box;
          background-clip: content-box, border-box;
          animation: none;
        }

        .botonSpace:active .circle {
          background: #FE53BB;
        }

        #stars {
          position: relative;
          background: transparent;
          width: 200rem;
          height: 200rem;
        }

        #stars::after {
          content: "";
          position: absolute;
          top: -10rem;
          left: -100rem;
          width: 100%;
          height: 100%;
          animation: animStarRotate 90s linear infinite;
        }

        #stars::after {
          background-image: radial-gradient(#ffffff 1px, transparent 1%);
          background-size: 50px 50px;
        }

        #stars::before {
          content: "";
          position: absolute;
          top: 0;
          left: -50%;
          width: 170%;
          height: 500%;
          animation: animStar 60s linear infinite;
        }

        #stars::before {
          background-image: radial-gradient(#ffffff 1px, transparent 1%);
          background-size: 50px 50px;
          opacity: 0.5;
        }

        @keyframes animStar {
          from {
            transform: translateY(0);
          }

          to {
            transform: translateY(-135rem);
          }
        }

        @keyframes animStarRotate {
          from {
            transform: rotate(360deg);
          }

          to {
            transform: rotate(0);
          }
        }

        @keyframes gradient_301 {
          0% {
            background-position: 0% 50%;
          }

          50% {
            background-position: 100% 50%;
          }

          100% {
            background-position: 0% 50%;
          }
        }

        @keyframes pulse_3011 {
          0% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
          }

          70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
          }

          100% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          }
        }

        .buttonPremium {
          width: fit-content;
          display: flex;
          padding: 1.2em 1rem;
          cursor: pointer;
          gap: 0.4rem;
          font-weight: bold;
          border-radius: 30px;
          text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
          background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
          background-size: 300%;
          color: #fff;
          border: none;
          background-position: left center;
          box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
          transition: background .3s ease;
        }

        .buttonPremium:hover {
          background-size: 320%;
          background-position: right center;
        }

        .buttonPremium:hover svg {
          fill: #fff;
        }

        .buttonPremium svg {
          width: 23px;
          fill: #f09f33;
          transition: .3s ease;
        }

        {{!-- CARD PREMIUM --}}

        .cardPremiumContainer{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 190px;
          justify-content: center;
        }

        .plan {
          border-radius: 16px;
          box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
          padding: 10px;
          background-color: #fff;
          color: #697e91;
          max-width: 300px;
        }

        .plan strong {
          font-weight: 600;
          color: #425275;
        }

        .plan .inner {
          align-items: center;
          padding: 20px;
          padding-top: 40px;
          background-color: #ecf0ff;
          border-radius: 12px;
          position: relative;
        }

        .plan .pricing {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #bed6fb;
          border-radius: 99em 0 0 99em;
          display: flex;
          align-items: center;
          padding: 0.625em 0.75em;
          font-size: 1.25rem;
          font-weight: 600;
          color: #425475;
        }

        .plan .pricing small {
          color: #707a91;
          font-size: 0.75em;
          margin-left: 0.25em;
        }

        .plan .title {
          font-weight: 600;
          font-size: 1.25rem;
          color: #425675;
        }

        .plan .title + * {
          margin-top: 0.75rem;
        }

        .plan .info + * {
          margin-top: 1rem;
        }

        .plan .features {
          display: flex;
          flex-direction: column;
        }

        .plan .features li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .plan .features li + * {
          margin-top: 0.75rem;
        }

        .plan .features .icon {
          background-color: #1FCAC5;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }

        .plan .features .icon svg {
          width: 14px;
          height: 14px;
        }

        .plan .features + * {
          margin-top: 1.25rem;
        }

        .plan .action {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
        }

        .plan .button {
          background-color: #6558d3;
          border-radius: 6px;
          color: #fff;
          font-weight: 500;
          font-size: 1.125rem;
          text-align: center;
          border: 0;
          outline: 0;
          width: 100%;
          padding: 0.625em 0.75em;
          text-decoration: none;
        }

        .plan .button:hover, .plan .button:focus {
          background-color: #4133B7;
        }

        .box {
          width: 140px;
          height: auto;
          float: left;
          transition: .5s linear;
          position: relative;
          display: block;
          overflow: hidden;
          padding: 15px;
          text-align: center;
          margin: 0 5px;
          background: transparent;
          text-transform: uppercase;
          font-weight: 900;
        }

        .box:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: 4px;
          width: 100%;
          border-bottom: 4px solid transparent;
          border-left: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(100%);
        }

        .box:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-top: 4px solid transparent;
          border-right: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(-100%);
        }

        .box:hover {
          box-shadow: 0 5px 15px white
        }

        .box:hover:before {
          border-color: antiquewhite;
          height: 100%;
          transform: translateX(0);
          transition: .3s transform linear, .3s height linear .3s;
        }

        .box:hover:after {
          border-color: antiquewhite;
          height: 100%;
          transform: translateX(0);
          transition: .3s transform linear, .3s height linear .5s;
        }

        #buttonBox {
          color: white;
          text-decoration: none;
          cursor: pointer;
          outline: none;
          border: none;
          background: transparent;
          margin-bottom: 20px;
        }

        #upgradeForm{
          display: none;
          flex-direction: column;
          padding: 20px;
          background-color: white;
        }

        #divCreateProduct{
          background-color: grey;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 150px;
        }

        .buttonCart {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 15px;
          gap: 15px;
          background-color: red;
          outline: 3px red solid;
          outline-offset: -3px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          transition: 400ms;
        }

        .buttonCart .textBuy {
          color: white;
          font-weight: 700;
          font-size: 1em;
          transition: 400ms;
        }

        .buttonCart svg path {
          transition: 400ms;
        }

        .buttonCart:hover {
          background-color: grey;
        }

        .buttonCart:hover .text {
          color: #181717;
        }

        .buttonCart:hover svg path{
          fill: #181717;

        }
        .pagination{
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        {{!-- error message --}}
        .error {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          width: 320px;
          padding: 12px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          background: #EF665B;
          border-radius: 8px;
          box-shadow: 0px 0px 5px -3px #111;
          margin-top: 10px;
        }

        .error__icon {
          width: 20px;
          height: 20px;
          transform: translateY(-2px);
          margin-right: 8px;
        }

        .error__icon path {
          fill: #fff;
        }

        .error__title {
          font-weight: 500;
          font-size: 14px;
          color: #fff;
        }

        .error__close {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-left: auto;
        }

        .error__close path {
          fill: #fff;
        }

    </style>
  </head>
  <body>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>